<!-- Filter-->

<form action="filter/" method="get">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <select class="form-select" aria-label="Default select example" name="category">
                    <option selected value=0>Select category</option>
                    {% for cat in view.get_all_cat %}
                    <option value={{cat.id}}>{{cat}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <input type="date" name="date" value="YYYY-MM-DD"   min="2020-01-01" class="form-control" >
            </div>
        <div class="col"><button type="submit" id="submit" class="btn btn-primary btn-sm">Submit</button></div>
        </div>
    </div>
</form>

